[server default]
manager_workdir=/etc/mha/
manager_log=/etc/mha/manager.log
master_ip_failover_script=/usr/local/bin/master_ip_failover
ssh_user=root
ssh_port=22

repl_user=repluser
repl_password=123456
user=root
password=123456

[server1]
hostname=192.168.4.50
port=3306

[server2]
hostname=192.168.4.51
port=3306
candidate_master=1

[server3]
hostname=192.168.4.52
port=3306
candidate_master=1

[server4]
hostname=192.168.4.53
port=3306
no_master=1

[server5]
hostname=192.168.4.54
port=3306
no_master=1
