[mysqld_multi]
mysqld = /usr/local/mysql/bin/mysqld_safe
mysqladmin = /usr/local/mysql/bin/mysqladmin
user = root

[mysqld1]
#skip_grant_tables
port = 3307
datadir=/dir3307
socket=/dir3307/mysqld3307.sock
pid-file=/dir3307/mysqld.pid
log-error=/dir3307/mysqld.error

[mysqld2]
port = 3308
datadir=/dir3308
socket=/dir3308/mysqld3308.sock
pid-file=/dir3308/mysqld.pid
log-error=/dir3308/mysqld.error
